@model IEnumerable<FarmViewModel>
<section style="display:flex; flex-direction:row; overflow:auto; white-space:nowrap;">

    @foreach (var item in Model)
    {
        <article style="background-color:beige; padding:1rem; margin:0rem 1rem;"claas="farms-collection">
            <h3>@item.Name</h3>
            <img src="~/img/photo-coming-soon.jpg">
            <p>@item.Description</p>
           <p>@item.Cities</p>
            <a class="nav-link text-dark" asp-area="Client" asp-controller="Farm" asp-action="FarmDetails" asp-route-id=@item.Id>Details</a>
        </article>
    }
</section>
