@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <article>
    <h3>Heading</h3>
    <image>the image</image>
    <p>some description</p>
    <a class="nav-link text-dark" asp-area="Client" asp-controller="Farm" asp-action="FarmDetails">Farms</a>
    </article>

       <article>
    <h3>Heading</h3>
    <image>the image</image>
    <p>some description</p>
     <a class="nav-link text-dark" asp-area="Client" asp-controller="Farm" asp-action="FarmDetails">Farms</a>
    </article>

       <article>
    <h3>Heading</h3>
    <image>the image</image>
    <p>some description</p>
    <a class="nav-link text-dark" asp-area="Client" asp-controller="Farm" asp-action="FarmDetails">Farms</a>
    </article>

}
