
@using FarmProducts.Models;
@using Microsoft.AspNetCore.Mvc;
@{
    

        <div  class="pesho">
            <section class="farm-info">
                <div id="heading-one">
                    <h1>Farm Name</h1>
                </div>
                <div class="farm-description">
                    <p>farm description</p>
                </div>
            </section>
            <section style="height: 107px;">

                <nav class="navbar navbar-default">
                    <ul name="category-nav" id="farm-navigation" class="nav navbar-nav">
                        <li class="navbar-link dropdown">
                            <button onclick="myFunction(event)" class="dropth">Dairy</button>
                            <ul id="dairy" class="dropdown-menu">
                                <li>
                                    <a href="#milk-cream">Milk &amp; Cream</a>
                                </li>
                                <li>
                                    <a href="#eggs">Eggs</a>
                                </li>
                                <li>
                                    <a href="#yogurt">Yogurt</a>
                                </li>
                                <li>
                                    <a href="#butter">Butter</a>
                                </li>
                                <li>
                                    <a href="#cheese">Cheese</a>
                                </li>
                                <li>
                                    <a href="#other">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-link dropdown">
                            <button onclick="myFunction(event)" class="dropth">Fruits&Veges</button>
                            <ul id="meat" class="dropdown-menu">
                                <li>
                                    <a href="#fruits" data-filter="15" data-parent="15" data-categoryid="196" data-source="#category-navbar">Fruits</a>
                                </li>
                                <li>
                                    <a href="#vegetables" data-filter="15" data-parent="15" data-categoryid="197" data-source="#category-navbar">Vegetables</a>
                                </li>
                                <li>
                                    <a href="#cans" data-filter="15" data-parent="15" data-categoryid="198" data-source="#category-navbar">Cans</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-link dropdown">
                            <button onclick="myFunction(event)" class="dropth">Meat</button>
                            <ul id="dairy" class="dropdown-menu">
                                <li>
                                    <a href="#poultry" >Poultry</a>
                                </li>
                                <li>
                                    <a href="#beef" >Beef</a>
                                </li>
                                <li>
                                    <a href="#pork" >Pork</a>
                                </li>
                                <li>
                                    <a href="#lamb" >Lamb</a>
                                </li>
                                <li>
                                    <a href="#seafood" >Seafood</a>
                                </li>
                                <li>
                                    <a href="#bacon-sausage" >Bacon &amp; Sausage</a>
                                </li>
                                <li>
                                    <a href="#deli-charcuterie">Deli &amp; Charcuterie</a>
                                </li>
                                <li>
                                    <a href="#deli-charcuterie">Others</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-link dropdown">
                            <button onclick="myFunction(event)" class="dropth">Drinks</button>
                            <ul id="dairy" class="dropdown-menu">
                                <li>
                                    <a href="#coffee" data-filter="9" data-parent="9" data-categoryid="60" data-source="#category-navbar">Rakia</a>
                                </li>
                                <li>
                                    <a href="#tea" data-filter="9" data-parent="9" data-categoryid="73" data-source="#category-navbar">Wine</a>
                                </li>
                                <li>
                                    <a href="#juice" data-filter="9" data-parent="9" data-categoryid="70" data-source="#category-navbar">Juice</a>
                                </li>
                                <li>
                                    <a href="#other-drinks" data-filter="9" data-parent="9" data-categoryid="72" data-source="#category-navbar">Other Drinks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="navbar-link dropdown">
                        <a href="#bakery" data-filter="16" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" data-source="#category-navbar">Bakery</a>
                        <ul class="dropdown-menu">
                        <li>
                        <a href="#bread" data-filter="16" data-parent="16" data-categoryid="19" data-source="#category-navbar">Bread</a>
                        </li>
                        <li>
                        <a href="#crumbs-and-croutons" data-filter="16" data-parent="16" data-categoryid="21" data-source="#category-navbar">Crumbs and Croutons</a>
                        </li>
                        <li>
                        <a href="#bagels-breakfast" data-filter="16" data-parent="16" data-categoryid="17" data-source="#category-navbar">Bagels &amp; Breakfast</a>
                        </li>
                        <li>
                        <a href="#tortillas-flatbreads" data-filter="16" data-parent="16" data-categoryid="22" data-source="#category-navbar">Tortillas &amp; Flatbreads</a>
                        </li>
                        <li>
                        <a href="#bake-at-home" data-filter="16" data-parent="16" data-categoryid="18" data-source="#category-navbar">Bake at Home</a>
                        </li>
                        <li>
                        <a href="#baked-sweets" data-filter="16" data-parent="16" data-categoryid="20" data-source="#category-navbar">Baked Sweets</a>
                        </li>
                        </ul>
                        </li>  
                        -->
                                </ul>
                </nav>      
            </section>
            <section class="producstList">
                <ul>
                  <!--   foreach (var product in products){  -->
                        <li class="product-element">
                          <image>product.image</image>
                          <p>product.name</p>
                          <p>product.category</p>
                          <p>product.description</p>
                          <button class="adding-button">Add</button>
                          <button class="details-button">Details</button>
                        </li>
                   <!--   } -->
                </ul>
           </section>
        </div>
    
}
