@model IEnumerable<OrderViewModel>
<div class="">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column2">Order ID</th>
                            <th class="column3">Status</th>
                            <th class="column4">Total</th>
                            <th class="column5">More info</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="column1">@item.DateCreated</td>
                                    <td class="column2">@item.Id</td>
                                    <td class="column3">@item.Status</td>
                                    <td class="column4">@item.TotalPrice</td>
                                    <td class="column5"><a asp-area="Client" asp-controller="Order" asp-action="Details">Details</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>

                                    <p>You haven't palced any orders yet</p>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

