
.pesho{
    background-color:darkseagreen;
    width:60rem;
    display:flex;
    flex-direction:column;
    margin: 3rem 0rem;
}
.farm-description{
    text-align:center;
    padding:10px;
}
#heading-one{
    padding:10px;
    text-align:center;
}

#category-navbar{
    text-align:center;
}

#farm-navigation{
   display:flex;
   justify-content:space-around;
   width:100%;
}

.dropdown-menu{
    display:none;
    position:absolute;
    overflow:auto;
    border: hidden;
    background-color:white;
    height:auto;
    width:10rem;
    padding:1rem;
}

.show{
    display:block;
}

.product-element{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:azure;
    height:5rem;

}


.adding-button{
    padding:1px 3px;
    color:white;
    background:red;
    border:solid;
    border-color:black;
    border-radius:10px;
    
}

