.add-product{
    padding:2rem;
    display:inline-flex;
    justify-content:space-around;
    width:40rem;
    background-color:beige;
    border-radius:2rem;

}
.add-product form {
    height:100% !important;
    display: flex;
    flex-direction: column;
    height:15rem;
}
.add-product img{
    border:solid;
    border-color:slategrey;
   height:20rem;
   width:20rem;

}
.farmer-product-list{
    padding:2rem;
    background-color:beige;
    border-radius:2rem;
}


.column1,.column2,.column3,.column4,column5{
    height:4rem;
    width:8rem;
    text-align:left;    
}