

.card {
    background-image: url("../img/Wooden-board-frame-vector-material.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff; 
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color:antiquewhite;
}

.profil-container {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profil-data{
    width: 20rem;
}
.beige{
    color:darkgray;
}
.profile-buttons{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:goldenrod;
}
  .rowx{
      width:10rem;
  }