<section class="main-card">
    <article>
    <h1>Sell you homemade products with ease</h1>
    <p>Step One - Create your Profile from the Profile Menu</p>
    <p>Step Two - Create your Farm from the button Add Farm in you Profile Page</p>
    <p>Step Three - Add products in your Farm</p>
    <p>Step Four - Check regularly for new orders</p>
    </article>
</section>