@model FarmViewModel

<section class="farm-view">
    <article style="background-color:lightcoral;">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
        <a class="btn btn-info" asp-area="Farmer" asp-controller="Farm" asp-action="EditFarm">Edit Farm</a>
        <a class="btn btn-info" asp-area="Farmer" asp-controller="Farm" asp-action="DeleteFarm">Delete Farm</a>

    </article>
    <article style="background-color:lightcyan">
        <a class="btn btn-info" asp-area="Farmer" asp-controller="Product" asp-action="AddProduct">Add Product</a>
        <a class="btn btn-info" asp-area="Farmer" asp-controller="Product" asp-action="AllProducts">View All Products</a>
    </article>
</section>


