<section class="main-card">
    <article>
    <h1>Buy fresh products directly from the farmsers</h1>
    <p>Step One - Create your Profile from the Profile Menu</p>
    <p>Step Two - Open the Farm menu, find the items you want and order them </p>
    <p>Step Three - Check your orders regularly to see if the farmer has approved them</p>
    <p>Step Four - Be on the address at the time of delivery</p>
    <p>*Order can be only be placed frome a single farm</p>
    </article>
</section>